# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker volumes
docker/
postgres_data/
pgadmin_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Prisma
prisma/*.db
*.sqlite
*.sqlite-journal

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
Thumbs.db